.idea/
.ipynb_checkpoints/
Limiti01012018/
dati/
province_border.json
region_border.json
venv-project/
__pycache__/
My First Board.jpg
best_solution.jpg
better_solution.jpg
toy1.jpg
toy1_a.jpg
toy1_b.jpg
toy1_c.jpg
toy1_d.jpg

