venv-project/
.ipynb_checkpoints/
__pycache__/
.idea
Limiti01012018/
province_border.json
region_border.json
My First Board.jpg
best_solution.jpg
better_solution.jpg
toy1.jpg
toy1_a.jpg
toy1_b.jpg
toy1_c.jpg
toy1_d.jpg
